<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<!-- Data Source -->
<!-- 	<bean id="dataSource" -->
<!-- 		class="org.apache.commons.dbcp2.BasicDataSource" -->
<!-- 		destroy-method="close"> -->
<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
		<!-- JDBC 드라이버 클래스명 설정 -->
<!-- 		<property name="driverClassName"> -->
<!-- 			<value>org.postgresql.Driver</value> -->
<!-- 		</property> -->
		<!-- JDBC 접속 문자열 생성 --> 
<!-- 		<property name="url"> -->
<!-- 			<value>jdbc:postgresql://nowflix.cwawhirfvjft.us-east-2.rds.amazonaws.com:5432/nowflix</value> -->
<!-- 		</property> -->
<!-- 		<property name="username"> -->
<!-- 			<value>nowflix</value> -->
<!-- 		</property> -->
<!-- 		<property name="password"> -->
<!-- 			<value>nowflix3</value> -->
<!-- 		</property> -->
<!-- 	</bean> -->
	<!-- Transaction 관리자 설정 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="dataSource" />
	<!-- myBatis 사용을 위한 설정 -->
	<bean id="sqlSessionFactoryBean"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation"
			value="classpath:mybatis-config.xml" />
	</bean>
	<bean id="sqlSessionTemplate"
		class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg name="sqlSessionFactory"
			ref="sqlSessionFactoryBean" />
	</bean>
	
<context:property-placeholder
      location="classpath:jdbc.properties" />
      
 <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="${jdbc.driverClassName}" />
<property name="url" value="${jdbc.url}" />
<property name="username" value="${jdbc.username}" />
<property name="password" value="${jdbc.password}" />
</bean>




</beans>
