<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.main.nowflix.client.member.vo.MemberVO"
			alias="memberVO" />
		<typeAlias type="com.main.nowflix.client.genre.vo.GenreVO"
			alias="genreVO" />
		<typeAlias type="com.main.nowflix.client.movie.vo.MovieVO"
			alias="mymovie" />
		<typeAlias
			type="com.main.nowflix.admin.movie.vo.AdminMovieVO"
			alias="adminmovie" />
		<typeAlias
		 type="com.main.nowflix.client.profile.vo.ProfileVO"
		 alias="profileVO" />
		 <typeAlias
		 type="com.main.nowflix.client.ticket.vo.TicketVO"
		 alias="ticketVO" />
		 
		 <typeAlias
		 type="com.main.nowflix.client.sales.vo.SalesVO"
		 alias="salesVO" />
	</typeAliases>
	<mappers>
		<mapper resource="mappings/member/memberMapper.xml"></mapper>
		<mapper resource="mappings/member/genreMapper.xml"></mapper>
		<mapper resource="mappings/member/client-movie-mapping.xml" />
		<mapper resource="mappings/admin/admin-movie-mapping.xml" />
		<mapper resource="mappings/member/profileMapper.xml"></mapper>
		<mapper resource="mappings/member/ticketMapper.xml"></mapper>
		<mapper resource="mappings/member/salesMapper.xml"></mapper>
	</mappers>
</configuration>