<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="faqMapper">
	<resultMap type="faqVO" id="faqResult">
		<id property="faq_id" column="FAQ_ID" />
		<result property="faq_category" column="FAQ_CATEGORY" />
		<result property="faq_title" column="FAQ_TITLE" />
		<result property="faq_content" column="FAQ_CONTENT" />
		<result property="faq_regdate" column="FAQ_REGDATE" />
		
	</resultMap>
	
	
	<select id="getFaqList" resultMap="faqResult">
		SELECT * FROM FAQ
	
	</select>
</mapper>