<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="inquiryMapper">
	<resultMap type="inquiryVO" id="inquiryResult">
		<id property="inquiry_id" column="INQUIRY_ID" />
		<result property="email" column="EMAIL" />
		<result property="manager_email" column="MANAGER_EMAIL" />
		<result property="inquiry_type" column="INQUIRY_TYPE" />
		<result property="inquiry_title" column="INQUIRY_TITLE" />
		<result property="inquiry_content" column="INQUIRY_CONTENT" />
		<result property="reply_title" column="REPLY_TITLE"/>
		<result property="reply_content" column="REPLY_CONTENT"/>
		<result property="inquiry_date" column="INQUIRY_DATE"/>
		<result property="reply_date" column="REPLY_DATE"/>
		<result property="check_flag" column="CHECK_FLAG"/>
	</resultMap>
	
	<insert id="insertInquiry">
		INSERT INTO INQUIRY (EMAIL,INQUIRY_TYPE,INQUIRY_TITLE,INQUIRY_CONTENT,INQUIRY_DATE) VALUES(#{email},#{inquiry_type},#{inquiry_title},#{inquiry_content},current_timestamp)
	
	</insert>
	<select id="getInquiryList" resultMap="inquiryResult">
		SELECT * FROM INQUIRY WHERE EMAIL = #{email} order by inquiry_date asc
	
	</select>
</mapper>