<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="watchMapper">
	<resultMap type="watchVO" id="watchResult">
		<id property="watch_id" column="WATCH_ID" />
		<result property="movie_id" column="MOVIE_ID" />
		<result property="profile_id" column="PROFILE_ID"/>
		<result property="watch_date" column="WATCH_DATE" />
		<result property="view_point" column="VIEW_POINT"/>
	</resultMap>
	
<select id="getWatchVO" resultMap="watchResult">
	SELECT * FROM WATCH WHERE PROFILE_ID = #{profile_id} and MOVIE_ID = #{movie_id}
</select>

<select id="updateWatch" resultMap="watchResult">
	UPDATE watch set view_point= #{view_point} where movie_id=#{movie_id} and profile_id=#{profile_id}
</select>

<select id="insertWatch" resultMap="watchResult">
	INSERT INTO watch(
	WATCH_ID,
	MOVIE_ID,
	PROFILE_ID,
	WATCH_DATE,
	VIEW_POINT
	) 
	VALUES(
	nextval('seq_watch'),
	#{movie_id},
	#{profile_id},
	now(),
	0
	)
</select>
</mapper>