<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>고객문의 페이지</title>
</head>
<link rel="stylesheet" href="../../../css/member/inquery_custom.css">
<body>
	<div class="header">
		<a title="홈" href="#">
			<img src="http://yonom.duckdns.org/images/logo/nowflix.png"
			style="width: 119px;">
		</a>
		
		<div class="user-info">
			<button class="dropdown-togle" aria-haspopup="true">
				<span class="user-name">전천후</span>
				<img src="http://yonom.duckdns.org/images/member/dropdown.png"
				style="width: 15px;">
			</button>
		</div>
		
		
		
	</div>
	<div class="main">
	<div class="container-divider"></div>
	
	<div class="container">
  <nav class="sub-nav">
	<ol class="breadcrumbs">
		<li class="NOWFLIX"><a href="#">NOWFLIX</a></li>
		<li class="inquery">문의 등록</li>
	</ol>
	</nav>
  

  

  

  
  

  

  



</div></div>


</body>
</html>