<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="http://yonom.duckdns.org/css/member/settings.css" />
</head>
<body>
<div class="wrap">
<header class="header">
	<div class="hdspace">
	<a class="logo"><img class="logo" src="http://yonom.duckdns.org/images/logo/nowflix.png" style="width: 117px; margin: 15px 0 15px 0;"></a>
	</div>
</header>
	<div class="bd">
	 	<div class="account-container">
	 		<div class="inner">
	 			<div class="account-header">계정</div>
	 			<div class="account-section-membersince--svg"></div>
	 			<div class="member-since">
	 				멤버십 시작 : 12월 2020
	 			</div>
	 			<div class="member-since">
	 				멤버십 종료 : 12월 2020
	 			</div>
	 		</div>
	 		<div class="account-section-wrapper">
	 			<header class="account-section-header"><div class="account-section-header-text">멤버십&결제 정보</div></header>
	 		<div class="section-content">
	 			<div class="clearfix">
	 				<div class="emailtext">pyw2213@naver.com</div>
	 				
	 				<div class="salesinfo"><div class="salestext">카카오페이 결제 </div></div>
	 				
	 			</div>
	 			
	 		
	 		</div>
	 		</div>
	 		<div class="account-section-mid-wrapper">
	 		<header class="account-section-header"><div class="account-section-header-text">멤버십 상세 정보</div></header>
	 		<div class="section-content">
	 			<div class="clearfix">
	 				<div class="membership-info">
	 				<div class="membership-text">프리미엄 	</div>
	 			
	 				<a class="membership-a" href="#">멤버십 변경</a></div>
	 				
	 			</div>
	 			
	 		
	 		</div>
	 		</div>
	 			
	 		<div class="account-section-bottom-wrapper">
	 		<header class="account-section-header"><div class="account-section-header-text">결제 상세 정보</div></header>
	 		</div>
	 	
	 			<div class="section-content">
	 			<div class="clearfix">
	 				<ul class="sales-table">
	 					<li class="sales-table-header">
	 					<div class="col-date">날짜</div>
	 					<div class="col-item">구매한이용권</div>
	 					<div class="col-expirydate">서비스기간</div>
	 					<div class="col-paymenttype">결제방법</div>
	 					<div class="col-cardname">카드명</div>
	 					</li>
	 					<li class="sales-table-content">
	 					<div class="col-date-content">2020-10-10</div>
	 					<div class="col-item-content">프리미엄1개월</div>
	 					<div class="col-expirydate-content">2020-10-10 ~ 2020-11-10</div>
	 					<div class="col-paymenttype-content">CARD</div>
	 					<div class="col-cardname-content">현대카드</div>
	 					</li>
	 				</ul>
	 			
	 			
	 				
	 		
	 			
	 		
	 		</div>
	 		
	 	</div>
	 		</div>
	
	
	</div>
</div>

</body>
</html>